---
import MainLayout from "@layouts/main-layout.astro";
---

<MainLayout
	title="Quantic Coders Blog"
	description="Astro Blog is a statically generated blog using Astro and Tailwind CSS."
	robots="index, follow"
>
	<div class="container px-5 my-5 mx-auto">
		<h1 class="text-8xl text-purple-500 text-center font-bold">Astro</h1>
	</div>
</MainLayout>
