---
import MainLayout from "@layouts/MainLayout.astro";
import siteConfig from "@config/site-config";
import { getCollection } from "astro:content";

import "./_blog.css";
import TypedBlogPost from "@components/TypedBlogPost.astro";

const blogPosts = await getCollection("blog");
---

<MainLayout
	title={siteConfig.title}
	description={siteConfig.description}
	robots="index, follow"
>
	<section id="mainWrapper">
		<div id="content">
			<h1 class="heading">{siteConfig.title}</h1>

			<div class="divider"></div>

			<div class="text-right">
				<a
					class="text-sky-500 hover:underline hover:text-sky-600"
					href="/blog/1"
				>Paginated Blog</a>
			</div>

			<div id="grid">
				{ blogPosts.map((post) => <TypedBlogPost post={post} />) }
			</div>
		</div>
	</section>
</MainLayout>
