---
import MainLayout from "@layouts/MainLayout.astro";
import siteConfig from "@config/site-config";

import "./blog.css";
import { getCollection } from "astro:content";
import TypedBlogPost from "@components/TypedBlogPost.astro";

const blogPosts = await getCollection("blog");
---

<MainLayout
	title={siteConfig.title}
	description={siteConfig.description}
	robots="index, follow"
>
	<section id="mainWrapper">
		<div id="content">
			<h1>{siteConfig.title}</h1>
			<div class="divider"></div>
			<div id="grid">
				{ blogPosts.map((post) => <TypedBlogPost post={post} />) }
			</div>
		</div>
	</section>
</MainLayout>
