---
import { Image } from "astro:assets";
import Divider from "@components/Divider.astro";
import MainLayout from "@layouts/MainLayout.astro";
import post05Image from "@images/post-05.png";
import "@styles/global.css";
---

<MainLayout
  title="Images Excercise"
  description="Images Excercise in Astro"
  robots="noindex, nofollow"
>
  <div class="container px-5 mx-auto">
    <h1 class="heading">Images</h1>

    <Divider />

    <div class="h-auto bg-gray-700 mb-10">
      <img
        loading="eager"
        src="/assets/images/post-01.png"
        alt="Post Image"
      />
    </div>

    <Image
      src={post05Image}
      width={250}
      height={250}
      alt="Post Image"
    />
  </div>
</MainLayout>